body { 
    background: rgb(165, 206, 240);
    font: normal 15pp Arial;
    

}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    padding: 6pt;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    
}
select#flista {
    width: 150px;
}


footer{
    color: white;
    text-align: center;
    font-style: italic;

}